@{
    var currentCart = FormosBar.Models.ShoppingCart.CartActions.CurrentShoppingCart();
}
<a id="CartDropDown" class="dropdown-toggle" data-toggle="dropdown">
    @String.Format("Total: £{0} ({1})", currentCart.TotalAmount, currentCart.Count)
    <span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu" aria-labelledby="CartDropDown">
    @if (currentCart.Count > 0)
    {
        foreach (var cartitem in currentCart)
        {
    <li class="CartLi">
        @{
            int result = cartitem.Quantity * cartitem.Price;
        }
        <span class="CartCancel btn btn-danger " onclick="RemoveFromCart('@cartitem.Id')">X</span>
        <span class="CartSpanQuantity">@cartitem.Quantity</span><span>x &pound;@cartitem.Price <b>(&pound;@result)</b></span><span class="CartSpanName">@cartitem.Name</span>
    </li>
        }
        <li class="divider"></li>
        <li>
            <div id="CartButtons" role="button" aria-disabled="false" aria-describedby="Check Out Option">
                <a class="btn btn-success text-center CartActionButtom" href="@Url.Action("Index","Order",new { })">CheckOut</a>
                <a class="btn btn-danger text-center CartActionButtom" onclick="ClearCart()">Clear</a>
            </div>
        </li>

    }
    else
    {
        <li><a class="text-center"><b>No Items At Cart</b></a></li>
    }
</ul>


