@model FormosBar.Models.OrderLocation


@{
    ViewBag.Title = "CheckOut";

    var cart = FormosBar.Models.ShoppingCart.CartActions.CurrentShoppingCart();
}



<h2>CheckOut Summary</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            <div id="CreateItem" style="margin-top:5px; left: 0px;" class="mainbox col-md-8  col-sm-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Please Enter Your Table Number<br /><br />
                            If you want to <b>Add-on</b> please fill in :<br />
                            <b>Current Table Number</b> (Table Number can be retrieved at "Your Order" page;<br />
                            <b>Last Order Number</b> (Order Number can be retrieved at "Your Order Detail" Page)
                        </div>
                    </div>
                    <div style="padding-top:10px" class="panel-body">
                        <form id="createform2" class="form-horizontal" role="form">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.ValidationMessageFor(model => model.TableNumber, "", new { @class = "text-danger" })
                            <div>
                                <div class="input-group">
                                    <div style="float:left"><span class="input-group-addon" style="height: 34px;"><i class="glyphicon glyphicon-glass"></i></span></div>
                                    <div style="float:left; width: 260px;">@Html.EditorFor(model => model.TableNumber, new { htmlAttributes = new { min = 1, max = 30, placeholder = "Table Number (Between 1 - 30)", @class = "form-control" } })</div>
                                    <div>
                                        <div style="float:left"><span class="input-group-addon" style="height: 34px;"><i class="glyphicon glyphicon-pencil"></i></span></div>
                                        <div style="float:left; width: 260px;">@Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { min = 1, placeholder = "Order Number (Refer to 'Your Order')", @class = "form-control" } })</div>
                                    </div>
                                    <div style="padding-top:20px;">
                                        <input type="submit" value="CheckOut" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<table class="table100-head">
    <thead><tr><th>Item</th><th>Item Name</th><th>Price</th><th>Quantity</th><th>Total</th></tr></thead>
    <tbody>
        @foreach (var pd in cart)
        {
            <tr>
                <td><img src="@pd.DefaultImageURL" alt="@pd.ImgAlt" title="@pd.ImgAlt" width="50" height="50" /></td>
                <td>@pd.Name</td>
                <td>&pound; @pd.Price</td>
                <td>@pd.Quantity</td>
                <td>&pound; @pd.Total</td>
            </tr>
        }
        <tr style="background-color:#153353; color:#ffffff; font-size:18px; font-weight:bold;"><td colspan="3"></td><td>Grand Total</td><td>&pound; @cart.TotalAmount</td></tr>
    </tbody>
</table>
<script>
    $('form').on('submit', function () {
        alert('Your Order Has Been Submitted.');
    });
</script>