@model IEnumerable<FormosBar.Models.OrderDetail>

@{
    ViewBag.Title = "YourOrderDetail";
}

<h2>YourOrderDetail</h2>

<h2 style="text-align:left;">
    @String.Format("Order Number: {0}", this.Model.First().OrderId)
    <br /><br />
    You have to type-in this Order Number - @String.Format("{0}", this.Model.First().OrderId) - if you want to add new food/snack to this order.
</h2>
<hr />
 
@Html.ActionLink("Back to Order", "YourOrder", new { }, new { @class = "btn btn-default" })

<hr />
<table class="table" aria-describedby="Item Table">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Item Price</th>
            <th>Quantity</th>
            <th>Line Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    &pound; @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                @{int result = @item.Price * @item.Quantity;}
                <td>
                    &pound; @result
                </td>

            </tr>
        }
    </tbody>
    <tr style="background-color:#153353; color:#ffffff; font-size:18px; font-weight:bold;"><td colspan="2"></td><td>Total</td><td>@Model.Sum(b => b.Price * b.Quantity)</td></tr>
</table>