@model List<FormosBar.Models.Item>

@{
    ViewBag.Title = "Product List";
}

<h2>Product List</h2>

@*Pop-up message if necessary*@
@if (ViewBag.Message != null)
{
    @Html.Label("info",(string)ViewBag.Message, new { @class = "text-info"})
}

<div style="margin: 10px; margin-left: 28px;">
    @Html.ActionLink(" Create", "Create", new { }, new { @class = "btn btn-default glyphicon glyphicon-plus-sign" })
</div>

<div style="margin-top: 25px;">
    <table class="table100-head">
        <thead><tr><th>Opeartion</th><th>Item Image</th><th>Image Alt</th><th>Item ID</th><th>Category</th><th>Item Name</th><th>Description<th>Price</th><th>Availability</th></tr></thead>
        <tbody>
            @foreach (var pd in this.Model)
            {
                //if (pd.OnShelf == true) {
            <tr>
                <td>
                    @Html.ActionLink(" Edit", "Edit", new { id = pd.Id }, new { @class = "btn btn-default btn-sm glyphicon glyphicon-edit" })
                </td>
                <td><img src="@pd.DefaultImageURL" alt="@pd.ImageAlt" title="@pd.ImageAlt" width="100"/></td>
                <td>@pd.ImageAlt</td>
                <td>@pd.Id</td>
                @if (pd.Category == "Drink")
                {
                    <td><i class="glyphicon glyphicon-glass"></i></td>
                }
                else
                {
                    <td><i class="fa fa-cutlery"></i></td>
                }
                <td>@pd.Name</td>
                <td>@pd.Description</td>
                <td>&pound; @pd.Price</td>
                @if (pd.OnShelf == true)
                {
                <td><i class="glyphicon glyphicon-ok" style="color: #00ff90"></i></td>
                }
                else {
                <td><i class="glyphicon glyphicon-remove" style="color: #ff0000"></i></td>
                }
            </tr>
                //}
            }
        </tbody>
    </table>
</div>
